# Imports

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

# Get Data

In [2]:
df_org = pd.read_csv("data/covid_data_original.csv")

In [3]:
df_org

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,16/08/2020,16,8,2020,120,7,Afghanistan,AF,AFG,38041757.0,Asia,2.210729
1,15/08/2020,15,8,2020,7,0,Afghanistan,AF,AFG,38041757.0,Asia,1.895286
2,14/08/2020,14,8,2020,79,9,Afghanistan,AF,AFG,38041757.0,Asia,2.318505
3,13/08/2020,13,8,2020,76,10,Afghanistan,AF,AFG,38041757.0,Asia,2.297475
4,12/08/2020,12,8,2020,215,32,Afghanistan,AF,AFG,38041757.0,Asia,2.097695
...,...,...,...,...,...,...,...,...,...,...,...,...
36607,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
36608,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
36609,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
36610,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
36611,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

# Rename column "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000" to "last2weeks"

In [4]:
df_org = df_org.rename(columns={"Cumulative_number_for_14_days_of_COVID-19_cases_per_100000": "last2weeks"})

In [5]:
df_org.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,last2weeks
0,16/08/2020,16,8,2020,120,7,Afghanistan,AF,AFG,38041757.0,Asia,2.210729
1,15/08/2020,15,8,2020,7,0,Afghanistan,AF,AFG,38041757.0,Asia,1.895286
2,14/08/2020,14,8,2020,79,9,Afghanistan,AF,AFG,38041757.0,Asia,2.318505
3,13/08/2020,13,8,2020,76,10,Afghanistan,AF,AFG,38041757.0,Asia,2.297475
4,12/08/2020,12,8,2020,215,32,Afghanistan,AF,AFG,38041757.0,Asia,2.097695

# Exploring the Data

Note: I will look at the NaN values later.

### dateRep

#### day

#### month

#### year

#### cases

#### deaths

#### countriesAndTerritories

In [6]:
df_org['countriesAndTerritories'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua_and_Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba', 'Bosnia_and_Herzegovina',
       'Botswana', 'Brazil', 'British_Virgin_Islands',
       'Brunei_Darussalam', 'Bulgaria', 'Burkina_Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape_Verde',
       'Cases_on_an_international_conveyance_Japan', 'Cayman_Islands',
       'Central_African_Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Costa_Rica', 'Cote_dIvoire', 'Croatia',
       'Cuba', 'CuraÃ§ao', 'Cyprus', 'Czechia',
       'Democratic_Republic_of_the_Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican_Republic', 'Ecuador', 'Egypt',
       'El_Salvador', 'Equatorial_Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland_Islands_(Malvinas)',
       'Faroe_Islands', 'Fiji', 'Finland', 'France', 'French_Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey',
       'Guinea', 'Guinea_Bissau', 'Guyana', 'Haiti', 'Holy_See',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle_of_Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New_Caledonia',
       'New_Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North_Macedonia',
       'Northern_Mariana_Islands', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua_New_Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto_Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint_Kitts_and_Nevis',
       'Saint_Lucia', 'Saint_Vincent_and_the_Grenadines', 'San_Marino',
       'Sao_Tome_and_Principe', 'Saudi_Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra_Leone', 'Singapore', 'Sint_Maarten',
       'Slovakia', 'Slovenia', 'Somalia', 'South_Africa', 'South_Korea',
       'South_Sudan', 'Spain', 'Sri_Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Thailand',
       'Timor_Leste', 'Togo', 'Trinidad_and_Tobago', 'Tunisia', 'Turkey',
       'Turks_and_Caicos_islands', 'Uganda', 'Ukraine',
       'United_Arab_Emirates', 'United_Kingdom',
       'United_Republic_of_Tanzania', 'United_States_of_America',
       'United_States_Virgin_Islands', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Western_Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

#### geoId

In [7]:
df_org['geoId'].unique()

array(['AF', 'AL', 'DZ', 'AD', 'AO', 'AI', 'AG', 'AR', 'AM', 'AW', 'AU',
       'AT', 'AZ', 'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ', 'BM',
       'BT', 'BO', 'BQ', 'BA', 'BW', 'BR', 'VG', 'BN', 'BG', 'BF', 'BI',
       'KH', 'CM', 'CA', 'CV', 'JPG11668', 'KY', 'CF', 'TD', 'CL', 'CN',
       'CO', 'KM', 'CG', 'CR', 'CI', 'HR', 'CU', 'CW', 'CY', 'CZ', 'CD',
       'DK', 'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER', 'EE', 'SZ',
       'ET', 'FK', 'FO', 'FJ', 'FI', 'FR', 'PF', 'GA', 'GM', 'GE', 'DE',
       'GH', 'GI', 'EL', 'GL', 'GD', 'GU', 'GT', 'GG', 'GN', 'GW', 'GY',
       'HT', 'VA', 'HN', 'HU', 'IS', 'IN', 'ID', 'IR', 'IQ', 'IE', 'IM',
       'IL', 'IT', 'JM', 'JP', 'JE', 'JO', 'KZ', 'KE', 'XK', 'KW', 'KG',
       'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LI', 'LT', 'LU', 'MG', 'MW',
       'MY', 'MV', 'ML', 'MT', 'MR', 'MU', 'MX', 'MD', 'MC', 'MN', 'ME',
       'MS', 'MA', 'MZ', 'MM', nan, 'NP', 'NL', 'NC', 'NZ', 'NI', 'NE',
       'NG', 'MK', 'MP', 'NO', 'OM', 'PK', 'PS', 'PA', 'PG', 'PY', 'PE',
       'PH', 'PL', 'PT', 'PR', 'QA', 'RO', 'RU', 'RW', 'KN', 'LC', 'VC',
       'SM', 'ST', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'SX', 'SK', 'SI',
       'SO', 'ZA', 'KR', 'SS', 'ES', 'LK', 'SD', 'SR', 'SE', 'CH', 'SY',
       'TW', 'TJ', 'TH', 'TL', 'TG', 'TT', 'TN', 'TR', 'TC', 'UG', 'UA',
       'AE', 'UK', 'TZ', 'US', 'VI', 'UY', 'UZ', 'VE', 'VN', 'EH', 'YE',
       'ZM', 'ZW'], dtype=object)

We can see that all geoIds (except 'JPG11668' and 'nan') are two capital letters.

Now, I want to know, wich value countriesAndTerritories has where geoId is 'JPG11668'.

In [8]:
df_org['countriesAndTerritories'][df_org['geoId'] == 'JPG11668'].unique()

array(['Cases_on_an_international_conveyance_Japan'], dtype=object)

For simplicicy reasons, I will change the value 'JPG11668' to 'CJ'.   
I choose 'CJ', since it is not in the column geoId:

In [9]:
'CJ' in df_org['geoId'].unique()

False

In [10]:
df_org['geoId'] = df_org['geoId'].replace('JPG11668', 'CJ')

Let's check, if it worked:

In [11]:
df_org['geoId'].unique()

array(['AF', 'AL', 'DZ', 'AD', 'AO', 'AI', 'AG', 'AR', 'AM', 'AW', 'AU',
       'AT', 'AZ', 'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ', 'BM',
       'BT', 'BO', 'BQ', 'BA', 'BW', 'BR', 'VG', 'BN', 'BG', 'BF', 'BI',
       'KH', 'CM', 'CA', 'CV', 'CJ', 'KY', 'CF', 'TD', 'CL', 'CN', 'CO',
       'KM', 'CG', 'CR', 'CI', 'HR', 'CU', 'CW', 'CY', 'CZ', 'CD', 'DK',
       'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER', 'EE', 'SZ', 'ET',
       'FK', 'FO', 'FJ', 'FI', 'FR', 'PF', 'GA', 'GM', 'GE', 'DE', 'GH',
       'GI', 'EL', 'GL', 'GD', 'GU', 'GT', 'GG', 'GN', 'GW', 'GY', 'HT',
       'VA', 'HN', 'HU', 'IS', 'IN', 'ID', 'IR', 'IQ', 'IE', 'IM', 'IL',
       'IT', 'JM', 'JP', 'JE', 'JO', 'KZ', 'KE', 'XK', 'KW', 'KG', 'LA',
       'LV', 'LB', 'LS', 'LR', 'LY', 'LI', 'LT', 'LU', 'MG', 'MW', 'MY',
       'MV', 'ML', 'MT', 'MR', 'MU', 'MX', 'MD', 'MC', 'MN', 'ME', 'MS',
       'MA', 'MZ', 'MM', nan, 'NP', 'NL', 'NC', 'NZ', 'NI', 'NE', 'NG',
       'MK', 'MP', 'NO', 'OM', 'PK', 'PS', 'PA', 'PG', 'PY', 'PE', 'PH',
       'PL', 'PT', 'PR', 'QA', 'RO', 'RU', 'RW', 'KN', 'LC', 'VC', 'SM',
       'ST', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'SX', 'SK', 'SI', 'SO',
       'ZA', 'KR', 'SS', 'ES', 'LK', 'SD', 'SR', 'SE', 'CH', 'SY', 'TW',
       'TJ', 'TH', 'TL', 'TG', 'TT', 'TN', 'TR', 'TC', 'UG', 'UA', 'AE',
       'UK', 'TZ', 'US', 'VI', 'UY', 'UZ', 'VE', 'VN', 'EH', 'YE', 'ZM',
       'ZW'], dtype=object)

It worked!

#### countryterritoryCode

#### popData2019

#### continentExp

#### last2weeks

# Handling NaN-Values

#### Are there any NaN values?

In [12]:
df_org.isnull().values.any()

True

#### How many NaN values are in the whole dataframe?

In [13]:
df_org.isnull().sum().sum()

3064

#### In which columns are NaN values?

In [14]:
df_org['dateRep'].isnull().sum()

0

In [15]:
df_org['day'].isnull().sum()

0

In [16]:
df_org['month'].isnull().sum()

0

In [17]:
df_org['year'].isnull().sum()

0

In [18]:
df_org['cases'].isnull().sum()

0

In [19]:
df_org['deaths'].isnull().sum()

0

In [20]:
df_org['countriesAndTerritories'].isnull().sum()

0

In [21]:
df_org['geoId'].isnull().sum()

155

In [22]:
df_org['countryterritoryCode'].isnull().sum()

64

In [23]:
df_org['popData2019'].isnull().sum()

64

In [24]:
df_org['continentExp'].isnull().sum()

0

In [25]:
df_org['last2weeks'].isnull().sum()

2781

We have NaN values in 4 columns:
* 155 in geoId
* 64 in countryterritoryCode
* 64 in popData2019
* 2781 last2weeks

### Handling NaN values in the column geoId

#### Exploring geoId

In [26]:
df_org['geoId'].value_counts()

DK    230
IR    230
IS    230
NL    230
CA    230
     ...
EH    113
TJ    108
KM    107
LS     94
CJ     64
Name: geoId, Length: 209, dtype: int64

In [27]:
df_org['countriesAndTerritories'][df_org['geoId'].isnull()].unique()

array(['Namibia'], dtype=object)

Now we know that geoId has missing values where the country is Namibia.

In [28]:
df_org[df_org['countriesAndTerritories'] == "Namibia"]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,last2weeks
23431,16/08/2020,16,8,2020,181,4,Namibia,NaN,NAM,2494524.0,Africa,67.467781
23432,15/08/2020,15,8,2020,182,4,Namibia,NaN,NAM,2494524.0,Africa,64.020230
23433,14/08/2020,14,8,2020,138,5,Namibia,NaN,NAM,2494524.0,Africa,59.811010
23434,13/08/2020,13,8,2020,177,3,Namibia,NaN,NAM,2494524.0,Africa,56.924688
23435,12/08/2020,12,8,2020,128,0,Namibia,NaN,NAM,2494524.0,Africa,52.595205
...,...,...,...,...,...,...,...,...,...,...,...,...
23581,19/03/2020,19,3,2020,0,0,Namibia,NaN,NAM,2494524.0,Africa,NaN
23582,18/03/2020,18,3,2020,0,0,Namibia,NaN,NAM,2494524.0,Africa,NaN
23583,17/03/2020,17,3,2020,0,0,Namibia,NaN,NAM,2494524.0,Africa,NaN
23584,16/03/2020,16,3,2020,0,0,Namibia,NaN,NAM,2494524.0,Africa,NaN
23585,15/03/2020,15,3,2020,2,0,Namibia,NaN,NAM,2494524.0,Africa,NaN

 We have 155 missing values in the column geoId and 155 rows where countriesAndTerritories has the value Namibia. 
 Following this, we know that no geoId is defined for Namibia. Therefore, it is save to set our own value for the geoId where countriesAndTerritories is Namibia.

#### Filling NaN values in column geoId

**Finding a suitable value to fill NaN in geoId**

We know that only rows where countriesAndTerritories has the value Namibia have NaN in geoId. Therefore, we need a value to represent Namibia.

First, we want to again see how the other geoIds look like.

In [29]:
df_org['geoId'].unique()

array(['AF', 'AL', 'DZ', 'AD', 'AO', 'AI', 'AG', 'AR', 'AM', 'AW', 'AU',
       'AT', 'AZ', 'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ', 'BM',
       'BT', 'BO', 'BQ', 'BA', 'BW', 'BR', 'VG', 'BN', 'BG', 'BF', 'BI',
       'KH', 'CM', 'CA', 'CV', 'CJ', 'KY', 'CF', 'TD', 'CL', 'CN', 'CO',
       'KM', 'CG', 'CR', 'CI', 'HR', 'CU', 'CW', 'CY', 'CZ', 'CD', 'DK',
       'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER', 'EE', 'SZ', 'ET',
       'FK', 'FO', 'FJ', 'FI', 'FR', 'PF', 'GA', 'GM', 'GE', 'DE', 'GH',
       'GI', 'EL', 'GL', 'GD', 'GU', 'GT', 'GG', 'GN', 'GW', 'GY', 'HT',
       'VA', 'HN', 'HU', 'IS', 'IN', 'ID', 'IR', 'IQ', 'IE', 'IM', 'IL',
       'IT', 'JM', 'JP', 'JE', 'JO', 'KZ', 'KE', 'XK', 'KW', 'KG', 'LA',
       'LV', 'LB', 'LS', 'LR', 'LY', 'LI', 'LT', 'LU', 'MG', 'MW', 'MY',
       'MV', 'ML', 'MT', 'MR', 'MU', 'MX', 'MD', 'MC', 'MN', 'ME', 'MS',
       'MA', 'MZ', 'MM', nan, 'NP', 'NL', 'NC', 'NZ', 'NI', 'NE', 'NG',
       'MK', 'MP', 'NO', 'OM', 'PK', 'PS', 'PA', 'PG', 'PY', 'PE', 'PH',
       'PL', 'PT', 'PR', 'QA', 'RO', 'RU', 'RW', 'KN', 'LC', 'VC', 'SM',
       'ST', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'SX', 'SK', 'SI', 'SO',
       'ZA', 'KR', 'SS', 'ES', 'LK', 'SD', 'SR', 'SE', 'CH', 'SY', 'TW',
       'TJ', 'TH', 'TL', 'TG', 'TT', 'TN', 'TR', 'TC', 'UG', 'UA', 'AE',
       'UK', 'TZ', 'US', 'VI', 'UY', 'UZ', 'VE', 'VN', 'EH', 'YE', 'ZM',
       'ZW'], dtype=object)

We again can see that all geoIds (except 'nan') are two capital letters.

I want to replace the NaN values with 'NA', since this is not used in geoId.

In [30]:
'NA' in df_org['geoId'].unique()

False

In [31]:
df_org['geoId'] = df_org['geoId'].fillna('NA')

Let's check, if it worked:

In [32]:
df_org['geoId'].unique()

array(['AF', 'AL', 'DZ', 'AD', 'AO', 'AI', 'AG', 'AR', 'AM', 'AW', 'AU',
       'AT', 'AZ', 'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ', 'BM',
       'BT', 'BO', 'BQ', 'BA', 'BW', 'BR', 'VG', 'BN', 'BG', 'BF', 'BI',
       'KH', 'CM', 'CA', 'CV', 'CJ', 'KY', 'CF', 'TD', 'CL', 'CN', 'CO',
       'KM', 'CG', 'CR', 'CI', 'HR', 'CU', 'CW', 'CY', 'CZ', 'CD', 'DK',
       'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER', 'EE', 'SZ', 'ET',
       'FK', 'FO', 'FJ', 'FI', 'FR', 'PF', 'GA', 'GM', 'GE', 'DE', 'GH',
       'GI', 'EL', 'GL', 'GD', 'GU', 'GT', 'GG', 'GN', 'GW', 'GY', 'HT',
       'VA', 'HN', 'HU', 'IS', 'IN', 'ID', 'IR', 'IQ', 'IE', 'IM', 'IL',
       'IT', 'JM', 'JP', 'JE', 'JO', 'KZ', 'KE', 'XK', 'KW', 'KG', 'LA',
       'LV', 'LB', 'LS', 'LR', 'LY', 'LI', 'LT', 'LU', 'MG', 'MW', 'MY',
       'MV', 'ML', 'MT', 'MR', 'MU', 'MX', 'MD', 'MC', 'MN', 'ME', 'MS',
       'MA', 'MZ', 'MM', 'NA', 'NP', 'NL', 'NC', 'NZ', 'NI', 'NE', 'NG',
       'MK', 'MP', 'NO', 'OM', 'PK', 'PS', 'PA', 'PG', 'PY', 'PE', 'PH',
       'PL', 'PT', 'PR', 'QA', 'RO', 'RU', 'RW', 'KN', 'LC', 'VC', 'SM',
       'ST', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'SX', 'SK', 'SI', 'SO',
       'ZA', 'KR', 'SS', 'ES', 'LK', 'SD', 'SR', 'SE', 'CH', 'SY', 'TW',
       'TJ', 'TH', 'TL', 'TG', 'TT', 'TN', 'TR', 'TC', 'UG', 'UA', 'AE',
       'UK', 'TZ', 'US', 'VI', 'UY', 'UZ', 'VE', 'VN', 'EH', 'YE', 'ZM',
       'ZW'], dtype=object)

In [33]:
df_org['geoId'].isnull().sum()

0

It worked!

# Next steps
* rename last column
* check for NaN values
* get rid of NaN values
* sort by dateRep to split it in train and test data later
* add feature number of cases worldwide